@import url('bootstrap.css');

.header {
  font-size: 20px;
  line-height: 1.5;
  padding: 60px;
}

.header span {
  display: block;
}

.form {
  border: 5px solid #2727d9;
  padding: 32px 20px;
  height: 315px;

}

.form-header {
  font-size: 20px;
  font-weight: 900;
}

.form input {
  margin-bottom: 12px;
}

.form button {
  background-color: #2727d9;
}

.section-header {
  padding: 60px;
  font-size: 20px;
  font-weight: 900;
}

.feature-box {
  display: inline-block;
}

.feature-btn{
  background-color: #2727d9;
  margin: 60px;
 
}